@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

section {
  margin: 1rem 0;
}

@media (max-width: 639px) {
  .details-sections h2 {
    font-size: 2.2rem;
  }

  .details-sections p {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .details-sections h2 {
    font-size: 2.5rem;
  }

  .details-sections p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .details-sections h2 {
    font-size: 3rem;
  }

  .details-sections p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .details-sections h2 {
    font-size: 3.5rem;
  }

  .details-sections p {
    font-size: 1.6rem;
  }
}
